.footer {
  background: linear-gradient(to bottom, #000, #6b0079);
  color: #fff;
  padding: 5rem 3rem 3rem;
  font-family: var(--secondaryfontBold);
  position: relative;
  z-index: 1;
  /* transform: translateY(-40%); */
}

.footerContainer {
  /* display: grid; */
  /* grid-template-columns: 1.5fr 1fr 1fr; */
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  align-items: start;
}

.title {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 3rem;
}

.info {
  margin-bottom: 2rem;
}

.label {
  color: #aaa;
  font-size: 1rem;
  margin-bottom: 0.3rem;
}

.email {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}

.newsletter p {
  font-size: 1rem;
  color: #ccc;
  margin-bottom: 0.8rem;
}

.inputWrapper {
  position: relative;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  width: 80%;
  padding-bottom: 0.4rem;
}

.input {
  background: transparent;
  border: none;
  outline: none;
  color: white;
  font-size: 0.9rem;
  width: 100%;
}

.arrowIcon {
  position: absolute;
  right: -1.5rem;
  font-size: 1.2rem;
  color: #ccc;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.arrowIcon:hover {
  transform: translateX(4px);
  color: #fff;
}

.center ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.center li {
  margin-bottom: 0.5rem;
  font-size: 0.95rem;
  cursor: pointer;
  transition: color 0.3s ease;
}

.center li:hover {
  color: #ccc;
}

.right {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  font-size: 0.9rem;
}
.rightfirstpart{
    display: flex;
    justify-content: space-between;
    gap: 15rem;
}
.social {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.social a {
  color: #fff;
  text-decoration: none;
  font-size: 0.85rem;
  transition: opacity 0.3s;
}

.rightfirstpart a:hover {
  opacity: 0.7;
}

.address {
  line-height: 1.4;
}

.bottomRight {
  display: flex;
  justify-content: space-between;
  font-size: 0.85rem;
  color: #bbb;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding-top: 1rem;
  margin-top: 1rem;
}
/* Responsive */
@media (max-width: 1024px){
.footer{
  padding: 2rem 1.5rem;
}
}
@media (max-width: 900px) {
    .footer{
        padding: 2rem;
    }
  .footerContainer {
    /* grid-template-columns: 1fr; */
    text-align: left;
    gap: 2rem;
    /* flex-direction: column; */
  }

  .bottomRight {
    justify-content: space-between;
  }
  .rightfirstpart{
    gap: 7rem;
  }
}

@media (max-width: 767px){
  .footer{
    padding: 1rem;
  }
 .footerContainer {
    /* grid-template-columns: 1fr; */
    text-align: left;
    gap: 2rem;
    flex-direction: column;
  }
  .title{
    font-size: 2rem;
  }
  .lefttt{
    width: 100%;
  }
  .right{
    width: 100%;
  }
  .inputWrapper{
    width: 92%;
  }
}
@media (max-width: 479px){
  .rightfirstpart{
    gap: 3rem;
  }
  .footer{
    padding: 1rem;
  }
.title{
    font-size: 1.5rem;
  }
}