@font-face {
  font-family: BwGradual_Regular;
  src: url("../../public/fonts/BwGradual-Regular.ttf");
}
@font-face {
  font-family: BwGradual_Medium;
  src: url("../../public/fonts/BwGradual-Medium.ttf");
}
@font-face {
  font-family: BwGradual_Bold;
  src: url("../../public/fonts/BwGradual-Bold.ttf");
}
:root {
 --primary-fonts: "Roboto", sans-serif;
 --primary-weight: "700";
 /* --secondaryfontRegular: "neue-haas-grotesk-display", sans-serif; */
 /* --font-arpona-bold: "arpona-bold", serif; */
 --secondaryfontRegular:"BwGradual_Regular";
 --secondaryfontMedium:"BwGradual_Medium";
 --secondaryfontBold:"BwGradual_Bold"
}
:root {
  --background: #000;
  --foreground: #fff;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #fff;
    --foreground: #000;
  }
}
:root {
  --grid-gutter-width: 16px;
  --grid-column-width: calc((100vw - 208px) / 12);
}
@media (min-width: 768px) {
  :root {
    --grid-gutter-width: 2rem;
    --grid-column-width: calc((100vw - 312px) / 12);
  }
}
@media (min-width: 1024px) {
  :root {
    --grid-gutter-width: 3rem;
    --grid-column-width: calc((100vw - 520px) / 12);
  }
}
@media (max-width:767){
  :root{
    --app-height: 616px;
    --screen-height: 616px;
  }
}
html,
body {
  max-width: 100vw;
  /* overflow-x: hidden; */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
body::-webkit-scrollbar{
  display: none;
}
li{
  list-style: none;
}
audio, canvas {
    display: inline-block;
    max-width: 100%;
}
.bgwhite {
    background-color: #fff !important;
}

.manifestbgColor {
    background-color: #faf7f3 !important;
}

.esquirebgColor {
    background-color: #ec3c36 !important;

}

/* @media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }
} */
.layered-container {
  width: 100%;
  height: 100vh;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  /* overflow: hidden; */
}
/* .layered-container::after{
  content: "";
  mask-image: linear-gradient(to top, transparent, black 50%);
  bottom: 0;
  z-index: 999;
  width: 100%;
  height: 100px;
  position: absolute;
  background-color: #000;
} */
.layers-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  /* background-color: red; */
}

.layer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: center center;
  transform: translate(-50%, -50%);
  width: 100%;
  /* height: 100%; */
  /* background: #00a86b; */
  background: #ff8d00;
  border-radius: 4px;
  /* box-shadow: 0 0 150px rgba(0, 0, 0, 0.2); */
  /* aspect-ratio: 1; */
  /* width: 700px;
  height: 700px; */
  /* max-width: 700px;
  max-height: 700px; */
    object-fit: cover; /* if using bg images */
  max-width: 100vw;
  max-height: 100vh;
  aspect-ratio: 1 / 1; /* keeps square on all screens */
  aspect-ratio: 1 / 1;
  background-color: #ff9900; 
  /* background: radial-gradient(circle, #6b0079, #6b0079); */
  /* box-shadow: inset 0 0 50px 70px rgb(168, 76, 245); */

  box-shadow:inset 0 0 100px 5px rgb(152, 0, 172);
}
.layer:nth-child(1){
  width: 30%;
  transform: translate(-50%, -50%);
  z-index: 9;
  background: radial-gradient(circle, #790089, rgb(72, 0, 81));
  
  
}
.layer:nth-child(2){
  width: 40%;
  transform: translate(-50%, -50%);
  z-index: 8;
  background: radial-gradient(circle, #790089, #480051 10%);

  /* background: radial-gradient(circle at center, #790089 87.5%, #480051 20%); */
  
}
.layer:nth-of-type(3){
  width: 50%;
  transform: translate(-50%, -50%);
  z-index: 7;
  background: radial-gradient(circle, #790089, #480051 10%);

  
}
.layer:nth-of-type(4){
  width: 60%;
  transform: translate(-50%, -50%);
  z-index: 6;
  background: radial-gradient(circle, #790089, #480051 10%);
  
}
.layer:nth-of-type(5){
  width: 70%;
  transform: translate(-50%, -50%);
  z-index: 5;
  background: radial-gradient(circle, #790089, #480051 10%);

  
}
.layer:nth-of-type(6){
  width: 80%;
  transform: translate(-50%, -50%);
  z-index: 4;
  background: radial-gradient(circle, #790089, #480051 10%);


}
.layer:nth-of-type(7){
  width: 90%;
  transform: translate(-50%, -50%);
  z-index: 3;
  background: radial-gradient(circle, #790089, #480051 10%);

  
}
.layer:nth-of-type(8){
  width: 100%;
  transform: translate(-50%, -50%);
  z-index: 2;
   background: radial-gradient(circle, #790089, #480051 10%);


}


.card_about_content{
  /* background-color: green; */
  color: #fff;
  /* border: 1px solid #000; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  text-align: center;
  width: 100%;
  /* padding: 0 2rem; */
  max-width: 800px;
}
.about_titlewrapper{
  /* position: absolute;
  left: 50%;
  transform: translate(-50%, -50%); */
}
.scroll_indicator{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, -50%);
  opacity: .7;
}
.scroll_indicator span svg{
  font-size: 2rem;
}
.about_titleReveal{
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%); */
  /* background-color: blue; */
  /* width: fit-content; */
  position: relative;
  overflow: hidden;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about_title{
  font-size: 2.8rem;
  position: absolute;
}
.about_title{
  /* text-transform: uppercase; */
  font-size: 4rem;
  margin-bottom: 1rem;
    font-family: var(--secondaryfontBold);
  letter-spacing: 0.01em;
}

.home-intro-description {
  height: 0;
  --mask-pos: 80px;
  mask-image: linear-gradient(to top, transparent, black var(--mask-pos));
  /* mask-image: linear-gradient(to right, black var(--mask-pos), transparent); */
}
.about_intro_desc{
  color: #fff;
  font-size: 32px;
  line-height: 115%;
  letter-spacing: -.01em;
  text-align: start;
  font-family: var(--secondaryfontRegular);
  font-weight: 300;
}

@media only screen and (max-width:1023px){
  /* .layer {
    width: 550px;
    height: 550px;
  } */
  /* .center-content {
    width: 550px;
    height: 550px;
  } */
   .card_about_content{
    max-width: 900px;
    padding: 0 2rem;
   }
  .about_intro_desc{
    font-size: 1.8rem;
  }
}
@media only screen and (max-width:767px){
  /* .layer {
    width: 400px;
    height: 400px;
  } */
  /* .center-content {
    width: 400px;
    height: 400px;
  } */
   .card_about_content{
    max-width: 900px;
    padding: 0 2rem;
   }
  .about_intro_desc{
    font-size: 1.25rem;
  }
}
@media only screen and (max-width:479px){
  /* .layer {
    width: 300px;
    height: 300px;
  }
  .center-content {
    width: 300px;
    height: 300px;
  } */
  .about_intro_desc{
    font-size: 1.25rem;
    text-align: center;
    line-height: 1.1;
    letter-spacing: 0.01em;
  }
  .card_about_content{
    padding: 0 1rem;
  }
  .layer:nth-child(1){
     width: 30vh;
    height: 30vh;
  }
  .layer:nth-child(2){
    width: 40vh;
    height: 40vh;
  }
  .layer:nth-child(3){
    width: 50vh;
    height: 50vh;
  }
  .layer:nth-child(4){
    width: 60vh;
    height: 60vh;
  }
  .layer:nth-child(5){
    width: 70vh;
    height: 70vh;
  }
  .layer:nth-child(6){
    width: 80vh;
    height: 80vh;
  }
  .layer:nth-child(7){
    width: 90vh;
    height: 90vh;
  }
  .layer:nth-child(8){
    width: 100vh;
    height: 100vh;
  }
  .about_title{
    font-size: 1.5rem;
    opacity: 1 !important;
  }
}

/* newbutton */
.list__item {
  align-items: center;
  display: flex;
  margin: 0;
  width: fit-content;
}
.btn.btn--link {
  border-radius: 0;
  overflow: visible;
  padding-left: 0;
  padding-right: 0;
}
.btn {
  align-items: center;
  background-color: transparent;
  border: 0;
  box-shadow: none;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  overflow: hidden;
  padding: 0;
  position: relative;
  text-align: center;
  touch-action: manipulation;
  transition-duration: 0.6s;
  transition-property: color;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}
.btn__content {
  align-items: center;
  justify-content: center;
  min-width: 100%;
  z-index: 1;
}
.btn__content,
.btn__inner {
  display: flex;
  /* height: 100%; */
  position: relative;
  overflow: hidden;
}
.btn.btn--link > .btn__inner {
  padding-left: 0;
  padding-right: 0;
}
.btn--animated-content .btn__content:nth-child(2) {
  left: 0;
  position: absolute;
  font-weight: 500;
}
.btn--cloned .btn__content,
.btn--cloned .btn__text {
  transition-duration: 0.6s;
  transition-property: transform;
  line-height: 1;
}
.btn__content ~ .btn__content {
  contain: content;
  position: absolute;
  top: 100%;
  visibility: hidden;
}
.btn--cloned .btn__content {
  transform: translateY(0);
  visibility: visible;
  will-change: transform;
}
.btn--animated-content .btn__content:nth-child(1) {
  font-weight: 500;
}
.list__item:hover .btn--cloned .btn__content {
  transform: translateY(-100%);
}
.full_width_btn {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* new Button */

/* hamburger css */

 
  .hamburger .line{
    width: 23px;
    height: 2px;
    background-color:rgb(255, 255, 255);
    display: block;
    margin: 4px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  
  .hamburger:hover{
    cursor: pointer;
  }
  
  
  
  #hamburger-6.is-active{
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transition-delay: 0.6s;
    -o-transition-delay: 0.6s;
    transition-delay: 0.6s;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  #hamburger-6.is-active .line:nth-child(2){
    width: 0px;
  }
  
  #hamburger-6.is-active .line:nth-child(1),
  #hamburger-6.is-active .line:nth-child(3){
    -webkit-transition-delay: 0.3s;
    -o-transition-delay: 0.3s;
    transition-delay: 0.3s;
  }
  
  #hamburger-6.is-active .line:nth-child(1){
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    -o-transform: translateY(6px);
    transform: translateY(6px);
  }
  
  #hamburger-6.is-active .line:nth-child(3){
    -webkit-transform: translateY(-6px) rotate(90deg);
    -ms-transform: translateY(-6px) rotate(90deg);
    -o-transform: translateY(-6px) rotate(90deg);
    transform: translateY(-6px) rotate(90deg);
  }
  
/* hamburger css */

/* counterNumber */
.counter-wrapper {
  background-color: rgba(0, 0, 0, 0.881);
  padding: 5rem 1rem;
}
.counter-col {
  display: flex;
  align-items: center;
  justify-content: center;
}
.counter-col-card {
  color: white;
  text-align: center;
}
.counter-col-card .odoText {
  font-size: 4rem;
  font-weight: 700;
  font-family: var(--font-arpona-bold) !important;
}
.counter-col-card p {
  font-size: 1rem;
  font-weight: 400;
  /* letter-spacing: 1.5px; */
}

@media only screen and (min-width: 500px) {
  .counter-wrapper::after {
    clear: left;
    content: "";
    display: block;
  }
  .counter-col {
    float: left;
    width: calc(100% / 2);
    padding: 10px;
  }
}

@media only screen and (min-width: 850px) {
  .counter-wrapper {
    /* margin: 0 -10px; */
  }
  .counter-col {
    width: calc(100% / 4);
    padding: 0 10px;
  }
}
/* counterNumber */
