/* Hero2 */
:root {
  --app-height: 100vh;
  --screen-height: 100vh;
}


.home__hero {
  height: var(--screen-height);
  z-index: 2;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  padding-top: 0;
  color: #fff;
  font-family: var(--secondaryfontBold);
  background-color: var(--background);
  background: linear-gradient(to right, #000, #6b0079);
}


/* .homeheroline:not(:first-child) {
  margin-top: 0.07em;
  } */

.homeheroline .small,.homeherolineMbl .small,
.homeheroline small, .homeherolineMbl small {
  font-size: 0.3em;
  letter-spacing: 0.008em;
}

.homeheroline sup {
  line-height: 0;
}

.home__hero__inner,.home__hero__inner_mbl {
  /* font-size: calc(1.475rem + 2.7vw); */
  font-weight: 800;
  letter-spacing: -0.02em;
  /* line-height: 1; */
  /* margin-bottom: 7rem !important; */
  font-size: 6vw;
  display: flex;
  /* grid-template-columns: 1fr 1fr; */
  gap: 1rem;
  align-items: center;
  /* line-height: 0.8; */
  line-height: 1;
}

.p1,.p1_mbl {
  text-align: right;
  line-height: 1.2;
}

.p2,.p2_mbl {
  text-align: left;
  line-height: 1.3;
  /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
}

.sen {
  text-transform: capitalize;
  /* line-height: 1; */
  /* margin-bottom: 2rem; */

}

@media (min-width: 768px) {
  .home__hero__inner, .home__hero__inner_mbl {
    margin-bottom: 0 !important;
    gap: 2rem;
    /* margin-right: 8vw; */
  }
}

@media (min-width: 1200px) {}

/* body:not(.animation-ended) .home__hero .homeheroline {
  -webkit-clip-path: polygon(0 0, 125% 0, 125% 125%, 0 125%);
  clip-path: polygon(0 0, 125% 0, 125% 125%, 0 125%);
}

body:not(.animation-ended) .home__hero .sen {
  -webkit-transform: translateY(120%);
  transform: translateY(120%);
  } */

.home__hero__video,.home__hero__videoMbl {
  display: inline-block;
  height: 3rem;
  pointer-events: none;
  width: 3rem;
  z-index: 1;
  opacity: 0
    /* opacity: 0;
  animation: revealVideo 5s forwards; */
}

/* @keyframes revealVideo {
  from {
    opacity: 0; 
            transform: translateY(10px);
            }
        to {
            opacity: 1; 
            transform: translateY(0);
        }
    } */
.text-center {
  text-align: center !important;
}


.text-md-start {
  text-align: left !important;
}

.homeheroline,.homeherolineMbl {
  position: relative;
  /* overflow: hidden; */
  -webkit-clip-path: polygon(0 0, 125% 0, 125% 125%, 0 125%);
  clip-path: polygon(0 0, 125% 0, 125% 125%, 0 125%);
}

.home__hero__video.is-finished {
  cursor: none;
  pointer-events: all
}
.home__hero__videoMbl{
  background-color: #fff;
  opacity: 0;
  clip-path: polygon(0 0, 25% 0, 50% 20%, 75% 0, 100% 0, 100% 71%, 50% 71%, 0 100%);
  width: 2rem;
  height: 2rem;
}
.homeherolineMbl .sen{
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .p1,.p1_mbl {
    line-height: 1.3;
  }

  .p2,.p2_mbl {
    line-height: 1.25;
  }

  .home__hero__video,.home__hero__videoMbl {
    width: 3rem;
    height: 3rem;
  }

}

@media (min-width: 992px) {
  .home__hero__inner,.home__hero__inner_mbl {
    font-size: 6vw;
  }
}

@media (min-width: 1024px) {
  .p1,.p1_mbl {
    line-height: 1;
  }

  .p2,.p2_mbl {
    line-height: 1;
  }

  .home__hero__video, .home__hero__videoMbl {
    width: 3rem;
    height: 3rem;
  }
}


@media (min-width: 1400px) {
  .home__hero__video,.home__hero__videoMbl {
    height: 3.5rem;
    width: 3.5rem;
  }
}

@media (min-width: 1660px) {
  .home__hero__video, .home__hero__videoMbl {
    height: 5rem;
    width: 5rem;
  }
}

@media (max-width: 479px) {
  .home__hero__inner, .home__hero__inner_mbl {
    grid-template-columns: 1fr 1.5fr;
  }

  .home__hero__inner, .home__hero__inner_mbl {
    font-size: 7vw;
  }

  .text-center {
    text-align: start !important;
  }

  .home__hero__video, .home__hero__videoMbl {
    width: 2rem;
    height: 2rem;
  }

  .p1, .p1_mbl {
    line-height: 1.2;
  }

  .p2, .p2_mbl {
    line-height: 1.3;
  }

}

.home__hero__video.is-finished {
  cursor: none;
  pointer-events: all;
}

.home__hero__video video {
  display: block;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  position: relative;
  width: 100%;
  clip-path: polygon(0 0,
      25% 0,
      50% 20%,
      75% 0,
      100% 0,
      100% 71%,
      50% 71%,
      0 100%);
}

.home__hero__metas {
  bottom: calc(3rem + var(--screen-height) - var(--app-height));
  font-family: var(--secondaryfontRegular);
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 0;
  opacity: 0;
  visibility: hidden;
  /* height: 14px; */
  /* background-color: rgb(0, 255, 68); */
}

.home__hero__inner {
  display: none;
}

.mbl_hero {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.mbl_hero video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.home__hero__inner_mbl {
  position: absolute;
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
  height: 100%;
  width: 100%;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 8rem;
}

.home__hero__inner_mbl .p1 {}

.home__hero__inner_mbl .p2 {}

@media (orientation: landscape) {
  .home__hero__metas {
    bottom: 3rem;
  }
}

.home__video {
  /* padding-bottom: 56.25%; */
  position: relative;
  background: linear-gradient(to right, #000, #6b0079);
  /* padding-bottom: 56.25% */
}

.home__video {
  padding-bottom: 0;
}



.home__video:after,
.home__video:before {
  content: "";
  left: 50%;
  pointer-events: none;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 2;
  opacity: 0;
  visibility: hidden;
}

@media (orientation: landscape) {
  .home__video {
    height: 150vh;
    padding-bottom: 0;
    background-color: #000;
    background: linear-gradient(to right, #000, #6b0079);
  }

  .mbl_hero {
    display: none;
  }

  .home__hero__inner {
    display: flex;
  }

  .home__video {
    padding-bottom: 56.25%;
  }
}

/* Hero2 */