/* Hero2 */
.home__hero {
  height: var(--screen-height);
  z-index: 2;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  padding-top: 0;
  color: #fff;
  font-family: var(--secondaryfontBold);
  background-color: var(--background);
  background: linear-gradient(to right, #000, #6b0079);
}


/* .homeheroline:not(:first-child) {
  margin-top: 0.07em;
} */

.homeheroline .small,
.homeheroline small {
  font-size: 0.3em;
  letter-spacing: 0.008em;
}

.homeheroline sup {
  line-height: 0;
}
.home__hero__inner {
  /* font-size: calc(1.475rem + 2.7vw); */
  font-weight: 800;
  letter-spacing: -0.02em;
  /* line-height: 1; */
  /* margin-bottom: 7rem !important; */
  font-size: 6vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  align-items: center;
  /* line-height: 0.8; */
  line-height: 1;
}
.p1{
    text-align: right;
    line-height: 1.2;
}
.p2{
    text-align: left;
    line-height: 1.3;
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
}
.sen{
    text-transform: capitalize;
    /* line-height: 1; */
/* margin-bottom: 2rem; */

}
@media (min-width: 768px) {
    /* .home__hero__inner{
        gap: ;
    } */
  .home__hero__inner {
    margin-bottom: 0 !important;
    gap: 2rem;
    margin-right: 8vw;
  }
}

@media (min-width: 1200px) {
  /* .home__hero__inner {
    font-size: 10.5vw
  } */
}

/* body:not(.animation-ended) .home__hero .homeheroline {
  -webkit-clip-path: polygon(0 0, 125% 0, 125% 125%, 0 125%);
  clip-path: polygon(0 0, 125% 0, 125% 125%, 0 125%);
}

body:not(.animation-ended) .home__hero .sen {
  -webkit-transform: translateY(120%);
  transform: translateY(120%);
} */

.home__hero__video {
  display: inline-block;
  height: 3rem;
  pointer-events: none;
  width: 3rem;
  z-index: 1;
      opacity:0
   /* opacity: 0;
  animation: revealVideo 5s forwards; */
}
 /* @keyframes revealVideo {
        from {
            opacity: 0; 
            transform: translateY(10px);
        }
        to {
            opacity: 1; 
            transform: translateY(0);
        }
    } */
.text-center {
  text-align: center !important;
}


 .text-md-start {
    text-align: left !important;
  }

 .homeheroline{
    position: relative;
    /* overflow: hidden; */
      -webkit-clip-path: polygon(0 0, 125% 0, 125% 125%, 0 125%);
  clip-path: polygon(0 0, 125% 0, 125% 125%, 0 125%);
 }

@media (min-width: 768px) {
    .p1{
        line-height: 1.3;
    }
    .p2{
        line-height: 1.25;
    }
    .home__hero__video{
        width: 3rem;
        height: 3rem;
    }
  
}
@media (min-width: 992px) {
  .home__hero__inner {
    /* font-size: 8vw; */
    font-size: 6vw;
  }
}
@media (min-width: 1024px) {
    .p1{
        line-height: 1;
    }
    .p2{
        line-height: 1;
    }
    .home__hero__video{
        width: 3rem;
        height: 3rem;
    }
}


@media (min-width: 1400px) {
  .home__hero__video {
    height: 3.5rem;
    width: 3.5rem;
  }
}
@media (min-width: 1660px){
.home__hero__video {
    height: 5rem;
    width: 5rem;
  }
}
@media (max-width: 479px){
    .home__hero__inner{
        grid-template-columns: 1fr 1.5fr;
    }
.home__hero__inner{
      font-size: 7vw;
}
.text-center{
    text-align: start !important;
}
.home__hero__video{
    width: 2rem;
    height: 2rem;
}
.p1{
    line-height: 1.2;
}
.p2{
    line-height: 1.3;
}

}
.home__hero__video.is-finished {
  cursor: none;
  pointer-events: all;
}

.home__hero__video video {
  display: block;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  position: relative;
  width: 100%;
  clip-path: polygon(
    0 0,
    25% 0,
    50% 20%,
    75% 0,
    100% 0,
    100% 71%,
    50% 71%,
    0 100%
  );
}

.home__hero__metas {
  bottom: calc(3rem + var(--screen-height) - var(--app-height));
  font-family: var(--secondaryfontRegular);
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 0;
  opacity: 0;
  visibility: hidden;
  /* height: 14px; */
  /* background-color: rgb(0, 255, 68); */
}


@media (orientation: landscape) {
  .home__hero__metas {
    bottom: 3rem;
  }
}

.home__video {
  /* padding-bottom: 56.25%; */
  position: relative;
  height: 100vh;
  height: var(--app-height);
  

}



.home__video:after,
.home__video:before {
  content: "";
  left: 50%;
  pointer-events: none;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 2;
  opacity: 0;
  visibility: hidden;
}

/* .home__video:before {
  border: 0.1rem solid hsla(0, 0%, 100%, 0.3);
  border-radius: 50%;
  height: 9rem;
  width: 9rem;
}

.home__video:after {
  border-bottom: 0.75rem solid transparent;
  border-left: 1rem solid #fff;
  border-top: 0.75rem solid transparent;
  display: inline-block;
  height: 0;
  left: calc(50% + 0.2rem);
  width: 0;
} */
@media (orientation: landscape) {
  .home__video {
    height: 100vh;
    padding-bottom: 0;
  background: linear-gradient(to right, #000, #6b0079);

  }
}
/* Hero2 */
