/* Home_about_wrapper */
.Home_about_wrapper {
    position: relative;
    padding: 8rem 3rem;
    background-color: #000;
}

.taglines {
    display: flex;
    gap: 1.7rem;
}

.tagline {
    display: flex;
    flex-direction: column;
    padding: 2.9rem 0;
}

.tagline__wrapper {
    width: 100%;
}

.space {
    display: none;
}

.Home_about_content {
    /* --scale: 0;
    --transformOrigin: 0% 50%; */
    --scale: 1;
    --transformOrigin: 100% 50%;
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: -0.039rem;
    line-height: 2.8rem;
    /* opacity: 0; */
    opacity: 1;
    font-family: var(--secondaryfontMedium);
}

.Home_about_content * {
    text-indent: 0;
}

.Home_about_content .--line {
    overflow: hidden;
    white-space: nowrap;
}

.about_para {
    text-transform: capitalize;
}

.about_para span {
    font-size: 4rem;
    /* font-family: var(--secondaryfontRegular); */
  font-family: var(--secondaryfontMedium);
    font-weight: 100;
    color: #fff;
    line-height: 1;
    text-align: justify;
}
.extra-split-word {
        overflow: hidden;
        vertical-align: bottom;
    }
    .extra-split-line{
          overflow: hidden;
          vertical-align: bottom;

      }
.Home_about_content a {
    display: inline-block;
    display: inline;
    overflow: hidden;
    position: relative;
    text-decoration: none;
}

@media only screen and (max-width:1024px) {
    .Home_about_wrapper{
        padding: 8rem 1.5rem;
    }
    .about_para span {
        font-size: 3rem;
    }
}

@media only screen and (max-width:768px) {
    .Home_about_wrapper {
        padding: 5rem 1rem;
    }
    .about_para span {
        font-size: 2.5rem;
    }
}

@media only screen and (max-width:479px) {
    .Home_about_wrapper {
        padding: 5rem 1rem;
    }

    .about_para span {
        font-size: 2rem;
    }
}
@media only screen and (min-width:1660px){
.Home_about_wrapper{
    padding: 12rem 3rem;
}
}
/* .Home_about_content a:after,
.Home_about_content a:before {
    background-color: currentColor;
    bottom: 0;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    transition: 0.6s cubic-bezier(0.16, 1, 0.3, 1);
    width: 100%;
} */
.bottomUnderlineAnimation a {
    display: inline-block;
    display: inline;
    overflow: hidden;
    position: relative;
    text-decoration: none;
}

.bottomUnderlineAnimation a:after, .bottomUnderlineAnimation a:before {
    background-color: #fff;
    bottom: 0;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    transition: 0.6s cubic-bezier(0.16, 1, 0.3, 1);
    width: 100%;
}

.bottomUnderlineAnimation a:before {
    transform: scaleX(1);
    transform-origin: 100% 50%;
    transition-delay: 0.15s;
    will-change: transform;
}

.bottomUnderlineAnimation a:after {
    transform: scaleX(0);
    transform-origin: 0 50%;
    will-change: transform;
}

.bottomUnderlineAnimation a:after,
.bottomUnderlineAnimation a:before {
    background-color: #fff;
}

.bottomUnderlineAnimation a:before {
    transform: scaleX(var(--scale));
    transform-origin: var(--transformOrigin);
}

/* .Home_about_content a:before {
    transform: scaleX(1);
    transform-origin: 100% 50%;
    transition-delay: 0.15s;
    will-change: transform;
} */

/* .Home_about_content a:after {
    transform: scaleX(0);
    transform-origin: 0 50%;
    will-change: transform;
}

.Home_about_content a:after,
.Home_about_content a:before {
    background-color: #fff;
}

.Home_about_content a:before {
    transform: scaleX(var(--scale));
    transform-origin: var(--transformOrigin);
} */

.key-value {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 300;
    letter-spacing: -0.016rem;
    line-height: 1.75rem;
}

.list {
    display: flex;
    flex-direction: column;
}

.Home_about_content_item {
    padding-bottom: 4rem;
    padding-top: 1.1rem;
    position: relative;
    --grid-size: 6;
    --grid-gutter: 0.4rem;
    --grid-margin: 1rem;
    -moz-column-gap: var(--grid-gutter, 0);
    column-gap: var(--grid-gutter, 0);
    display: grid;
    grid-template-columns: repeat(var(--grid-size), 1fr);
    /* margin-left: var(--grid-margin);
    margin-right: var(--grid-margin); */
    font-family: var(--secondaryfontMedium);
    color: #fff;
}

.Home_about_content_item .Home_about_content_title {
    grid-column: 1 / span 2;
}

.Home_about_content_item .Home_about_content_title h2 {
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.2;
    font-family: var(--secondaryfontMedium);
}

.Home_about_content_item .Home_about_content {
    grid-column: 4 / span 3;
}

.Home_about_content_item .content-inner {
    /* max-width: 36rem; */
    max-width: 20rem;
}

.Home_about_content_item:last-child {
    padding-bottom: 0;
}

.content-inner {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

.split {
    background: currentColor;
    height: 1px;
    left: 0;
    opacity: 0.25;
    position: absolute;
    transform: scaleX(0);
    width: 100%;
}

.split.show {
    transform: scaleX(1);
    transform-origin: left;
    transition: transform 1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.b-arrow {
    --spacing: 0.5rem;
    --icon-size: 1.5rem;
    align-items: baseline;
    gap: var(--spacing);
    position: relative;
}

.b-arrow,
.b-arrow.underlined {
    display: flex;
    align-items: center;
    width: fit-content;
}

.b-arrow.underlined:after,
.b-arrow.underlined:before {
    background-color: currentColor;
}

.content_more,
.icon {
    transition: transform 0.7s cubic-bezier(0.52, 0, 0, 1),
        opacity 0.7s cubic-bezier(0.52, 0, 0, 1);
}

.icon {
    display: flex;
    pointer-events: none;
    width: var(--icon-size);
    align-items: center;
}

.icon-b {
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transform: translate3d(-125%, 50%, 0);
}

.link-active-full-small:after, .link-active-full-small:before {
    background-color: currentColor;
    bottom: 0;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    transition: .6s cubic-bezier(.16, 1, .3, 1);
    width: 100%;
}

.link-active-full-small:after {
    transform: scaleX(0);
    transform-origin: 0 50%;
    will-change: transform;
}

.link-active-full-small:before {
    transform: scaleX(1);
    transform-origin: 100% 50%;
    transition-delay: .15s;
    will-change: transform;
}

.b-arrow.underlined:after, .b-arrow.underlined:before {
    background-color: currentColor;
}

.content-inner p {
    font-size: min(4.306vw, 1rem);
    line-height: 1.2;
}

.content_more {
    /* font-size: 1rem; */
    line-height: 1.2;
    font-size: 12px;
}

@media (hover: hover) and (pointer: fine) {
    .b-arrow:hover .content_more {
        transform: translate3d(calc(var(--icon-size) + var(--spacing)), 0, 0);
    }

    .b-arrow:hover .icon-b {
        opacity: 1;
        transform: translateZ(0);
    }

    .b-arrow:hover .icon-a {
        opacity: 0;
        transform: translate3d(125%, -50%, 0);
    }
}

@media (min-width: 768px) {
    .home-tagline a {
        display: inline;
        vertical-align: unset;
    }

    .Home_about_content {
        /* font-size: min(4.306vw, 82.6666666667px); */
        font-size: 3rem;
        line-height: 1.2;
        letter-spacing: min(-0.065vw, -1.24px);
        /* line-height: min(4.653vw, 89.3333333333px); */
    }

    .content-inner p {
        font-size: 1.25rem;
        line-height: 1.2;
    }

    .content_more {
        font-size: 1rem;
    }
}

@media (min-width: 1024px) {
    .tagline {
        padding: 0 0 6rem 0;
    }
}

@media (max-width: 1023px) {
    .home-tagline a {
        display: inline-block;
        vertical-align: bottom;
    }
}

@media (min-width: 1024px) {
    .taglines {
        gap: 6.9rem;
    }

    .space {
        display: block;
        float: left;
        height: 2rem;
        width: min(15.278vw, 293.3333333333px);
    }

    .content_more a, .Home_about_content a:after,
    .content_more a, .Home_about_content a:before {
        bottom: 0;
        height: 1.5px;
    }

    .bottomUnderlineAnimation a:after,
    .bottomUnderlineAnimation a:before {
        bottom: 0;
        height: 1.5px;
    }

    .key-value {
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 300;
        letter-spacing: -0.02rem;
        line-height: 1.25;
    }

    .Home_about_content_item {
        --grid-size: 12;
        --grid-gutter: 2rem;
        --grid-margin: 2rem;
        -moz-column-gap: var(--grid-gutter, 0);
        column-gap: var(--grid-gutter, 0);
        display: grid;
        grid-template-columns: repeat(var(--grid-size), 1fr);
        /* margin-left: var(--grid-margin);
        margin-right: var(--grid-margin); */
        padding-bottom: 3.3rem;
        padding-top: 2.3rem;
        font-family: var(--primary-fonts);
    }

    .Home_about_content_item .Home_about_content,
    .Home_about_content_item .Home_about_content_title {
        grid-column: span 6;
        font-size: 1.2rem;
    }
}

@media (hover: hover) and (pointer: fine) {
    .content_more a, .Home_about_content a:hover:before {
        transform: scaleX(0);
        transform-origin: 100% 50%;
        transition-delay: 0s;
    }

    .content_more a, .Home_about_content a:hover:after {
        transform: scaleX(1);
        transform-origin: 0 50%;
        transition-delay: 0.15s;
    }

    .bottomUnderlineAnimation a:hover:before {
        transform: scaleX(0);
        transform-origin: 100% 50%;
        transition-delay: 0s;
    }

    .bottomUnderlineAnimation a:hover:after {
        transform: scaleX(1);
        transform-origin: 0 50%;
        transition-delay: 0.15s;
    }
}

/* Home_about_wrapper */



/* homecontact */


.contact__wrapper {
    position:relative;
    align-items: center;
    display: flex;
    justify-content: center;
    overflow: hidden;
    padding: 15rem 0;
    background-color: #fff;
    color: #000;
    font-family: var(--secondaryfontRegular);
    z-index: 5;
}

.link {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

.wrapper {
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
}
.link span {
    white-space: nowrap;
    font-size: 2rem;
    margin-bottom: 2px;
}
#span2 {
    position: absolute;
    visibility: hidden;
}
.width-bar {
    background-color: #000;
    bottom: 0;
    height: 2px;
    position: absolute;
    transform-origin: 50% 50%;
    width: 100%;
  margin-top: 20px;
  /* transform-origin: left center; */
  transform: scaleX(1);

}
.--char {
  display: inline-block;
  position: relative;
}
@media (min-width: 1024px) {
    section .contact__wrapper{
        padding: 18rem 0;
    }

    .link {
        box-sizing: content-box;
        font-size: 3rem;
        font-style: normal;
        font-weight: 300;
        letter-spacing: -.093rem;
        line-height: 6.6938rem;
        line-height: 3rem;
        padding: 5rem 7rem;
    }
    .link span{
        font-size: 4rem;
    }
}

/* homecontact */