.manifesto {
    position: relative;
    /* margin-top: clamp(0px, 83.071px + 100vw * -.0489, 64px); */
    /* margin-bottom: 64px; */
    padding: 3rem 3rem;
    font-family: var(--secondaryfontRegular);
}

.manifesto_header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 32px 0;
}

.manifesto_title {
    font-size:
        /*lrs=40*/
        clamp(28px, 24.412px + 100vw * .0092, 40px);
    font-size: 4rem;
    letter-spacing: -.05em;
    ---letter-spacing: -0.05em;
    line-height: 1.1;
    font-weight: 300;
    text-transform: capitalize;
      font-family: var(--secondaryfontBold);

}

.manifesto_para {
    font-size:
        /*lrs=18*/
        clamp(16px, 15.415px + 100vw * .0015, 18px);
    line-height: 1.25;
    letter-spacing: -.01em;
    ---letter-spacing: -0.01em;
    max-width: 50%;
}

.manifesto_statements {
    position: relative;
}

.line_divider {
    position: relative;
}

.line_divider {
    position: relative;
    max-width: var(--grid-width);
    width: 100%;
    height: 1px;
    margin: 0 auto;
    background-color: #ffffff;
    overflow: hidden;
    transform-origin: left;
}

.manifesto .line_divider {
    overflow: visible;
}

.manifesto[data-audio=true] .linedivider[data-hitarea] {
    inset: -6px;
    background-color: rgba(255, 255, 255, 0);
}

[data-hitarea]:after {
    content: "";
    position: absolute;
    inset: -8px;
    opacity: 0;
}

.wave {
    width: 100%;
    height: 400px;
    margin-top: -200px;
    pointer-events: none;
    image-rendering: pixelated;
}

.g_row {
    width: 100%;
    max-width: none;
    margin-left: auto;
    margin-right: auto;
    /* padding-left: var(--grid-padding) !important;
    padding-right: var(--grid-padding) !important; */
    display: flex;
    /* flex-flow: row wrap; */
    justify-content: space-between;
}

.manifesto>.manifesto_statements>li>h3 {
    margin: clamp(12px, 6.033px + 100vw * .0153, 32px) 0;
}

.h2 {
    font-size:
        /*lrs=64*/
        clamp(32px, 22.484px + 100vw * .0244, 64px);
    line-height: 1.1;
    letter-spacing: -.07em;
    ---letter-spacing: -0.07em;
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
    font-weight: 300;
    margin-left: 50%;
        opacity: .4;
    transition: opacity 0.5s ease, color 0.5s ease;

}

.p_small {
    font-size:
        /*lrs=18*/
        clamp(16px, 15.415px + 100vw * .0015, 18px);
    line-height: 1.2;
    letter-spacing: -.04em;
    ---letter-spacing: -0.04em;
    font-weight: 300;
    transition: opacity 0.5s ease, color 0.5s ease;
    will-change: opacity, color;
    opacity: 0.4;
    max-width: 25%;
}

.p_small.active {
    opacity: 1;
}
.h2.active {
    opacity: 1;
}

@media screen and (max-width:1290) {
    .manifesto_para {
        /* max-width:50.5%; */
        /* margin-left: 41.6666666667%; */
    }

    /* .h2{
        margin-left: 58.3333333333%;
    } */
    .p_small {
        max-width: 25%;
    }

}

@media screen and (max-width:991px) {
    .p_small {
        max-width: 35%;
    }
}

@media screen and (max-width:767px) {
    .manifesto {
        padding: 4rem 1rem;
    }

    .manifesto_header {
        flex-direction: column;
    }

    .manifesto_title {
        margin-bottom: 1rem;
        font-size: 2.5rem;
    }

    .manifesto_para {
        max-width: 100%;
    }

    .p_small {
        max-width: 50%;
    }

    .h2 {
        margin-left: 0;
    }
}

@media screen and (max-width:479px) {
    .manifesto_header {
        flex-direction: column;
    }

    .p_small {
        max-width: 80%;
    }
}


/* leadership */
.leadershipSection {
    position: relative;
    padding: 6rem 3rem;
    background: #fff;
    color: #111;
    font-family: var(--secondaryfontRegular);
    z-index: 5;
}

.leadershipSection_container {
    max-width: 1600px;
    margin: 0 auto;
}

.leadershipSection_heading {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 2rem;
    text-transform: capitalize;
    /* letter-spacing: 0.01em; */
  font-family: var(--secondaryfontBold);

}

/* Featured Leader */
.leadershipSection_featured {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
    gap: 2rem;
    margin-bottom: 4rem;
}

.featuredImage img {
    width: 100%;
    aspect-ratio: 1 / 1.3;
    object-fit: cover;
    background: #1a1a1a;
    height: 100%;
}

.featuredContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.75rem;
    height: 100%;
}

.quote {
    font-size: 0.9rem;
    color: #333;
    line-height: 1.5;
    margin-bottom: 2rem;
}

.leadershipSection_name {
    font-weight: 600;
    font-size: 0.95rem;
    margin: 0.5rem 0;
}

.role {
    font-size: 0.85rem;
    color: #888;
    margin: 0;
}

.linkedin {
    font-size: 0.85rem;
    margin-top: 0.75rem;
    text-decoration: none;
    color: #111;
    font-weight: 500;
    transition: opacity 0.3s ease;
}

.linkedin:hover {
    opacity: 0.6;
}

.gridTop {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

/* Grid of Leaders */
.grid {
    display: grid;
    /* grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
}

.leadershipSection_card {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.imageWrapper {
    width: 100%;
    aspect-ratio: 1 / 1.3;
    background: #1a1a1a;
    margin-bottom: 0.5rem;
    overflow: hidden;
}

.imageWrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .5s ease-in-out;
}

.leadershipSection_card:hover .imageWrapper img {
    transform: scale(1.05);
}

/* Responsive */
@media (max-width: 1024px) {
    .leadershipSection_featured {
        /* grid-template-columns: 1fr; */
    }

    .featuredImage {
        order: -1;
    }

    .gridTop {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .leadershipSection_heading{
        font-size: 3rem;
    }
}

@media (max-width: 768px) {
    .gridTop{
            grid-template-columns: 1fr;
    }
    .grid {
        grid-template-columns: 1fr 1fr;
        gap: 1.25rem;
    }
    .leadershipSection {
        padding: 4rem 2rem;
    }
    .leadershipSection_heading {
        font-size: 2rem;
        margin-bottom: 1rem;
    }
}

@media (max-width: 600px) {

    .grid {
        grid-template-columns: 1fr;
        gap: 1.25rem;
    }

    .quote {
        font-size: 1.25rem;
    }

    .linkedin {
        font-size: 0.8rem;
    }

    .gridTop {
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));

    }
}

@media (max-width: 479px) {
    .leadershipSection_featured{
        grid-template-columns:1fr;
    }
    .leadershipSection {
        padding: 2rem 1rem;
    }
}

@media (min-width: 1660px) {
    .gridTop {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
    }
}

/* leadership */


/* Office*/

:root {
    --sbw: 15px;
    --100vw: calc(100vw - var(--sbw, 0px));
    --grid-columns: 24;
    --grid-gap:
        /*lrs=20*/
        clamp(4px, -0.758px + 100vw * 0.0122, 20px);
    --grid-half-gap: calc(0.5 * var(--grid-gap));
    --grid-margin:
        /*lrs=20*/
        clamp(8px, 4.412px + 100vw * 0.0092, 20px);
    --grid-padding: calc(var(--grid-margin) - 0.5 * var(--grid-gap));
    --grid-width: calc(var(--100vw) - 2 * var(--grid-margin));
    --modal-row-width: calc(calc((var(--100vw) - 2 * var(--grid-padding)) / 1.3333 - var(--grid-gap)) + var(--grid-gap) + var(--grid-padding));
    --modal-width: calc(var(--modal-row-width) + var(--grid-half-gap));
}

.studioShowcase {
    position: relative;
    margin-top: 96px;
    /* margin-bottom: 96px; */
    padding: 0 3rem;
    z-index: 5;
    background-color: #000;
}

.studioShowcase .itemDivider {
    margin: clamp(48px, 44.412px + 100vw * 0.0092, 60px) auto;
}

@media only screen and (max-width: 743px) {
    .studioShowcase .itemDivider:first-child {
        display: none;
    }
}

.gRow {
    width: 100%;
    max-width: none;
    margin-left: auto;
    margin-right: auto;
    /* padding-left: var(--grid-padding) !important;
        padding-right: var(--grid-padding) !important; */
    display: flex;
    flex-flow: row wrap;
}

.gRow.reversed {
    flex-direction: row-reverse;
}

.gCol {
    flex: 1 1 0px;
    /* padding-left: var(--grid-half-gap); */
    padding-right: var(--grid-half-gap);
    min-width: initial;
}

.studioShowcase .studioName {
    margin-bottom: clamp(12px, 1.275px + 100vw * 0.0275, 48px);
      font-family: var(--secondaryfontBold);

}

.studioShowcase .photo {
    /* width: 100%;
    margin-bottom: var(--grid-margin); */
    width: 100%;
    margin-bottom: var(--grid-margin);
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.studioShowcase .info {
    position: sticky;
    /* top: var(--grid-margin); */
    top: 6rem;
    height: fit-content;
    display: flex;
    align-items: flex-start;
    gap: var(--grid-gap);
    font-family: var(--secondaryfontRegular);
}

.xxl12 {
    flex: 0 0 50%;
    max-width: 50%;
}

.xxl6 {
    flex: 0 0 50%;
    max-width: 50%;
    font-size: 4rem;
    font-family: var(--secondaryfontRegular);
}

[data-hitarea]:after {
    content: "";
    position: absolute;
    inset: -8px;
    opacity: 0;
}

.mc {
    overflow: hidden;
    margin-bottom: -.16em;
    padding-bottom: .08em;
}

.mbgridMargin {
    margin-bottom: var(--grid-margin);
}

.xxl18 {
    flex: 0 0 50%;
    max-width: 50%;
}

.midstatement {
    /* font-size:
        clamp(90px, 69.174px + 100vw * .0534, 160px); */
    font-size: 4rem;
    line-height: .9;
    letter-spacing: -.01em;
    ---letter-spacing: -0.07em;
}

.studioShowcase .item_divider {
    margin: clamp(48px, 44.412px + 100vw * .0092, 60px) auto;
}

@media only screen and (max-width: 1023px) {
    .studioShowcase .info {
        flex-direction: column;
    }

    .studioShowcase {
        padding: 0 1rem;
    }

    
}

@media only screen and (max-width: 767px) {
    .studioShowcase .info {
        margin-top: var(--grid-margin);
        order: 2;
    }

    .xsOffset5 {
        margin-left: 20.8333333333%;
    }

    .xs19 {
        flex: 0 0 79.1666666667%;
        max-width: 79.1666666667%;
    }
    .xs24 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .xxl6{
        font-size: 2.5rem;
    }
    .midstatement{
        margin-top: 1rem;
        font-size: 2.5rem;
    }
}

.studioShowcase .info>* {
    position: relative;
}

.studioShowcase .info> :first-child {
    width: calc((var(--100vw) - 2 * var(--grid-padding)) / 6 - var(--grid-gap));
}

.whitespacePreline {
    white-space: pre-line;
}

@media only screen and (max-width: 1290px) {
    .studioShowcase .info> :first-child {
        width: calc((var(--100vw) - 2 * var(--grid-padding)) / 4 - var(--grid-gap));
    }
}

@media only screen and (max-width: 1023px) {
    .studioShowcase .info> :first-child {
        width: unset;
    }
}

.studioShowcase .maskedImg {
    aspect-ratio: 16/9;
}

@media only screen and (min-width: 2000px) {
    .studioShowcase {
        margin-top: 4.8vw;
        margin-bottom: 4.8vw;
    }

    .studioShowcase .itemDivider {
        margin: 3vw auto;
    }

    .studioShowcase .studioName {
        margin-bottom: 2.4vw;
    }
}

/* Office*/