.BrandAdvertismentBanner_container {
    background-color: #000;
    padding: 4rem 0;
    color: #fff;
    text-align: left;
}

.BrandAdvertismentBanner_heading {
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 1.3;
    /* font-family: var(--secondaryfontRegular); */
    font-family: var(--secondaryfontBold);

    margin-bottom: 30px;
    padding: 0 3rem;
}

.BrandAdvertismentBanner_cardContainer {
    display: grid;
    gap: 20px;
    justify-content: start;
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));

}

.BrandAdvertismentBanner_card {
    background-color: #1e1e1e;
    /* width: 400px; */
    height: 450px;
}

/* Responsive Styles */
@media (max-width: 1024px) {
    .BrandAdvertismentBanner_cardContainer {
        /* grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); */

    }

    .BrandAdvertismentBanner_heading {
        font-size: 3rem;
        padding: 0 1.5rem;
    }
}

@media (max-width: 768px) {
    .BrandAdvertismentBanner_heading {
        font-size: 2rem;
        padding: 0 1rem;
    }

    .BrandAdvertismentBanner_card {
        /* width: 100%; */
        /* max-width: 100%; */
        height: 400px;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }

    .BrandAdvertismentBanner_cardContainer {
        gap: 16px;
        grid-template-columns: 1fr;
    }
}

@media (max-width: 479px) {
    .BrandAdvertismentBanner_heading {
        padding: 0 1rem;
        font-size: 1.5rem;
    }

    .BrandAdvertismentBanner_card {
        height: 400px;
    }

    .BrandAdvertismentBanner_cardContainer {
        gap: 16px;
        grid-template-columns: 1fr;
    }

}

/* auto marquee slider splide */
.marquee__container {
    position: relative;
    /* height: 100vh; */
    width: 100%;
    /* background-color: green; */
    padding-bottom: 8.2rem;
    /* padding-top: 8.2rem; */
}

.marquee__container .marquee_item {
    -moz-column-gap: 5rem;
    column-gap: 5rem;
    padding-right: 5rem;
    -moz-column-gap: 0.76rem;
    column-gap: 0.76rem;
    padding-right: 0.76rem;
}

.marquee__container .marquee_item li {
    height: 2.6rem;
    width: -moz-fit-content;
    width: fit-content;
}

.marquee__container .marquee_item li img {
    max-width: unset !important;
    width: unset !important;
}

.marquee__container {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    position: relative;
    touch-action: pan-y;
}

.marquee__container.drag {
    cursor: grab;
}

.marquee__container .marquee_item {
    display: flex;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.wrapper {
    height: -moz-fit-content;
    height: fit-content;
    position: relative;
}

.card__wrapper {
    position: relative;
    z-index: 1;
}

.enter_animation__wrapper {
    opacity: 1;
    transform-origin: bottom;
}

.widget__wrapper {
    border-radius: .3rem;
    overflow: hidden;
    position: relative;
    width: 23.5rem;
}

.top__wrapper {
    display: flex;
    flex-direction: column;
    max-width: 19rem;
}

.top__wrapper em {
    font-style: normal;
    opacity: 0.52;
}

/* .top__wrapper .sub-title {
    width: 9rem;
} */

.background {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;

}

.widget__wrapper.light {
    background-color: #f7f7f7;
    color: #000;
    padding: 1rem;
}

.widget__wrapper.dark {
    background-color: #262525;
    color: #fff;
    padding: 1rem;
}

.widget__wrapper.small {
    aspect-ratio: 440/325;
    padding: 1rem;
}

.widget__wrapper.medium {
    aspect-ratio: 1/1;
}

.widget__wrapper.full {
    aspect-ratio: 440/503;
}

.title {
    left: 0;
    position: absolute;
    top: 0;
    transition: transform 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94),
        opacity 0.4s;
}

.card__wrapper {
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    font-weight: 300;
    height: 100%;
    justify-content: space-between;
    letter-spacing: -0.014rem;
    line-height: 1.14;
    padding: 1.6rem 0;
    position: relative;
    width: 100%;
}

.media, .media img, .media video {
    height: 100%;
    width: 100%;
}

.media.cover img, .media.cover video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: center;
}

.bottom {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    padding-bottom: 1.1rem;
    align-items: center;
    margin-left: 1rem;
    margin-right: 1rem;
    /* margin-top: 29.8rem; */
}

.right {
    flex-shrink: 1;
}

.left_logos {
    align-items: center;
    /* flex-grow: 1; */
    /* height: 1.28rem; */
    max-width: unset;
}

.left_logos .big img {
    bottom: 0;
    height: 3rem;
    position: absolute;
}

.left_logos .media {
    position: relative;
    right: 0;
    width: -moz-fit-content;
    width: fit-content;
}

.image_switcher__wrapper {
    height: 100%;
    position: relative;
    width: 100%;
}

.image_switcher__wrapper .media__wrapper {
    height: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    transform: translateY(0);
    transition: opacity 0.25s, transform 0.25s;
    width: 100%;
}

.image_switcher__wrapper .media__wrapper.active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.25s 125ms, transform 0.25s 0.25s;
}

.image_switcher__wrapper .media__wrapper.last {
    opacity: 0;
    transform: translateY(0);
}

.image_switcher__wrapper .media__wrapper img {
    -o-object-position: right;
    object-position: right;
}

@media (max-width: 767px) {
    .card__wrapper {
        padding: 1.6rem 0;
    }
}

@media (min-width: 1024px) {
    .marquee__container {
        /* padding-bottom: 22rem; */
        /* padding-top: 22rem; */
    }

    .marquee__container .marquee_item {
        align-items: center;
        display: flex;
        justify-content: space-between;
        padding-right: unset;
        width: 100%;
    }

    .widgets__wrapper .marquee__container .marquee-item {
        -moz-column-gap: 3rem;
        column-gap: 3rem;
        padding-left: 3rem;
    }

    .marquee__container .marquee_item:nth-child(2) {
        display: none;
    }

    .marquee__container .marquee_item li img {
        -o-object-fit: contain !important;
        object-fit: contain !important;
    }

    .widget__wrapper {
        border-radius: .6rem;
        width: 25rem;
        padding: 1rem;
    }

    .top__wrapper .sub_title {
        width: 15.8rem;
    }

    .card__wrapper {
        font-size: 1.4rem;
        font-style: normal;
        font-weight: 300;
        letter-spacing: -0.02rem;
        line-height: 2rem;
        padding: 1rem 0;
    }

    .bottom {
        /* padding-bottom: 3.4rem; */
    }
}

.marquee_slider {
    position: relative;
    width: 100%;
    height: 100%;
    /* background-color: red; */
}

.splide__slide {
    width: 100%;
    height: 100vh;
    /* background-color: red; */
}

.marquee-slider {
    width: 100%;
    overflow: hidden;
    padding: 2rem 0;
}

.marquee-slider img {
    display: block;
    height: 50px;
    object-fit: contain;
    opacity: 0.9;
    transition: opacity 0.3s ease;
    width: 100%;
    height: 100%;
}

.marquee-slider img:hover {
    opacity: 1;
}

/* auto marquee slider splide */
/* StickyCardSection */
.hollywood_section {
    background-color: #e2211c;
    /* red background */
    height: 100vh !important;
    padding: 5rem 8rem !important;
    color: #000;
    font-family: var(--secondaryfontMedium);
    position: relative;
    padding: 6rem 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.hollywood_section_innerWrapper {
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
    /* flex-wrap: wrap; */
    gap: 3rem;
}


.hollywood_left {
    display: flex;
    justify-content: flex-start;
    height: 100%;
    flex: 1 1 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.magazine_cover {
    width: 100%;
    /* height: 100%; */
    /* max-width: 430px; */
    border-radius: 4px;
    /* max-width: 450px; */
    max-width: 400px;
    object-fit: cover;
}

.hollywood_right {
    /* padding-left: 4rem; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #000;
    align-items: flex-start;
    gap: 2rem;
    margin-top: 1rem;
}

.card_logoImg {
    width: auto;
    height: 4rem;
    /* height: 80%; */
    position: relative;
    /* margin: 0 auto; */
}

.card_logoImg img {
    filter: brightness(.1);
    object-fit: cover;
    object-position: left;
    width: 200px;
    height: 100%;
    margin-bottom: 1.5rem;
}


.text {
    font-size: 1rem;
    line-height: 1.7;
    /* color: #000; */
    margin-bottom: 1rem;
    max-width: 600px;
    text-align: justify;
    display: flex;
}

.textMbl {
    display: none;
    text-align: justify;
}

.card_social_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
    width: 100%;
}

.learn-more {
    margin-top: 1rem;
    font-weight: 500;
    color: #000;
    text-decoration: underline;
    width: fit-content;
}

.dots {
    display: flex;
    gap: 1rem;
    /* margin-top: 2rem; */
}

.dots span {
    font-size: 1rem;
    /* background-color: #000; */
    border-radius: 50%;
    cursor: pointer;
    transition: opacity 0.3s;
}

.dots span:hover {
    opacity: 0.6;
}

.links {
    display: flex;
    justify-content: space-between;
    /* margin-top: 4rem; */
    font-size: 0.95rem;
    width: 100%;
    flex-wrap: wrap;
    /* max-width: 600px; */
}

.links a {
    color: #000;
    /* text-decoration: underline; */
}

.card_logoImgMbl {
    display: none !important;
}

.PlusBtnWrapper {
    display: none;
    cursor: pointer;
}

@media (max-width: 1199px) {
    .hollywood_section {
        padding: 5rem 2rem !important;
        height: auto !important;
    }

    /* .hollywood_section_innerWrapper {
        flex-direction: column;
        align-items: center;
    }

    .card_logoImg {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .card_logoImg img {
        width: auto;
    } */
}

@media (max-width: 1024px) {

    .hollywood_section {
        padding: 5rem 2rem !important;
        height: auto !important;
    }

    .hollywood_section_innerWrapper {
        flex-direction: column;
        align-items: center;
    }

    .text {
        margin-bottom: 0;
        display: none;
    }

    .textMbl {
        display: flex;
        opacity: 0;
        transition: all 0.4s ease;
    }

    .textMbl.showText {
        opacity: 1;
    }

    /* .magazine-cover{
        width: 50%;
    } */
    .card_logoImg {
        height: 2rem;
        display: none;
    }

    .hollywood_left {
        flex: 1 1 30%;
    }

    .hollywood_right {
        /* margin-top: 1rem; */
    }

    .card_logoImgMbl {
        height: 4rem;
        display: flex !important;
    }

    .text {
        position: absolute;
        top: 0;
        /* display: none; */
    }

    .links {
        /* margin-top: 2rem; */
    }

    .social_wrapperMainWrapper {
        width: 100%;
    }

    .card_social_wrapper {
        margin-top: 0;
    }

    .hollywood_section_innerWrapper {
        gap: 0;
    }

    .magazine_coverMbl {
        display: flex;
        opacity: 1;
        transition: opacity 0.4s ease;
    }

    .hideMagazine {
        opacity: 0;
    }

    .PlusBtnWrapper {
        display: flex;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        background-color: #e2211c;
        position: absolute;
        bottom: -20px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid #000;
        transition: transform 0.5s ease;
    }

    .PlusBtnWrapper svg {
        font-size: 1.8rem;
    }
}

@media (max-width: 900px) {
    .hollywood_section {
        /* grid-template-columns: 1fr;
        padding: 3rem 2rem !important;
        text-align: center; */
    }

    .hollywood_right {
        padding-left: 0;
        margin-top: 1rem;
        align-items: center;
        gap: 1rem;
    }

    .card_social_wrapper {
        /* flex-direction: column; */
        gap: 2rem;
    }

    .links {
        /* flex-direction: column; */
        gap: 1rem;
        align-items: center;
        /* margin-top: 2rem; */
        flex-direction: column;
    }

    .magazine_cover {
        max-width: 340px;
    }

    /* .hollywood_right{
        max-width: 340px;
    } */
}

@media (max-width: 768px) {
    
    .hollywood_section {
        grid-template-columns: 1fr;
        padding: 2rem 1rem !important;
        text-align: center;
        height: 100vh !important;
        /* height: auto !important; */
    }

    .hollywood_left {
        justify-content: center;
    }

    .magazine_cover {
        /* width: 25%; */
        aspect-ratio: auto;
    }

    .text {
        /* text-align: center; */
        /* position: absolute; */
    }

    .card_logoImg {
        display: none;
    }
    .card_logoImg img{
        margin: 0;
    }
}

/* @media only screen and (min-width: 1280px) {
    .hollywood_left {
        flex: 1 1 30%;
    }
} */
@media (max-width: 600px) {
    
    .hollywood_section{
        padding: 1rem 1rem !important;
    }
    .hollywood_section_innerWrapper {
        align-items: flex-start;

    }

    .card_logoImgMbl {
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .magazine_cover {
        max-width: 70%;
        width: 100%;
    }

    .hollywood_right {
        max-width: 100%;
        width: 100%;
    }
    .links{
        flex-direction:row
    }
}
@media (max-width: 479px){
     .magazine_cover {
        max-width: 100%;
        width: 100%;
    }

    .hollywood_right {
        max-width: 100%;
        width: 100%;
    }

}
/* ----------- Portrait Orientation (Phones, iPads) ----------- */
@media (orientation: portrait) {
    .hollywood_section_innerWrapper {
        flex-direction: column;
    }

    .card_logoImg {
        display: none;
    }

    .card_logoImg img {
        width: auto;
    }

    .card_logoImgMbl img {
        width: auto;
    }

    .hollywood_left {
        flex: 1 1 50%;
    }

    .magazine_cover {
        width: 100%;
        height: 100%;
    }

    /* .container {
    flex-direction: column;
    text-align: center;
    gap: 2rem;
  }

  .imageWrapper {
    order: -1; 
  }

  .textWrapper {
    align-items: center;
    padding: 0 1rem;
  }

  .image {
    max-width: 90%;
  }

  .title {
    font-size: 2rem;
  }

  .desc {
    font-size: 1rem;
  }

  .ctaBtn {
    align-self: center;
  } */
}

/* StickyCardSection */