.BrandAdvertismentBanner_container {
    background-color: #000;
    padding: 3rem 0;
    color: #fff;
    text-align: left;
}

.BrandAdvertismentBanner_heading {
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 30px;
    line-height: 1.4;
    padding: 0 3rem;
    font-family: var(--secondaryfontMedium);
}

.BrandAdvertismentBanner_cardContainer {
    display: grid;
    gap: 20px;
    justify-content: start;
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));

}

.BrandAdvertismentBanner_card {
    background-color: #1e1e1e;
    /* width: 400px; */
    height: 450px;
}

/* Responsive Styles */
@media (max-width: 1024px) {
    .BrandAdvertismentBanner_cardContainer {
        /* grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); */

    }
}

@media (max-width: 768px) {
    .BrandAdvertismentBanner_heading {
        font-size: 22px;
    }

    .BrandAdvertismentBanner_card {
        /* width: 100%; */
        /* max-width: 100%; */
        height: 400px;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }

    .BrandAdvertismentBanner_cardContainer {
        gap: 16px;
        grid-template-columns: 1fr;
    }
}

@media (max-width: 479px) {
    .BrandAdvertismentBanner_heading {
        padding: 0 1rem;
        font-size: 20px;
    }

    .BrandAdvertismentBanner_card {
        height: 400px;
    }

    .BrandAdvertismentBanner_cardContainer {
        gap: 16px;
        grid-template-columns: 1fr;
    }
    
}

/* auto marquee slider splide */
.marquee__container {
    position: relative;
    /* height: 100vh; */
    width: 100%;
    /* background-color: green; */
    padding-bottom: 8.2rem;
    /* padding-top: 8.2rem; */
}

.marquee__container .marquee_item {
    -moz-column-gap: 5rem;
    column-gap: 5rem;
    padding-right: 5rem;
    -moz-column-gap: 0.76rem;
    column-gap: 0.76rem;
    padding-right: 0.76rem;
}

.marquee__container .marquee_item li {
    height: 2.6rem;
    width: -moz-fit-content;
    width: fit-content;
}

.marquee__container .marquee_item li img {
    max-width: unset !important;
    width: unset !important;
}

.marquee__container {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    position: relative;
    touch-action: pan-y;
}

.marquee__container.drag {
    cursor: grab;
}

.marquee__container .marquee_item {
    display: flex;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.wrapper {
    height: -moz-fit-content;
    height: fit-content;
    position: relative;
}

.card__wrapper {
    position: relative;
    z-index: 1;
}

.enter_animation__wrapper {
    opacity: 1;
    transform-origin: bottom;
}

.widget__wrapper {
    border-radius: .3rem;
    overflow: hidden;
    position: relative;
    width: 23.5rem;
}

.background {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;

}
.widget__wrapper.dark {
    background-color: #000;
    color: #fff;
}
.widget__wrapper.full{
    aspect-ratio: 440/503;
}
.widget__wrapper.small {
    aspect-ratio: 440 / 325;
}
@media (min-width: 1024px) {
    .marquee__container {
        /* padding-bottom: 22rem; */
        /* padding-top: 22rem; */
    }

    .marquee__container .marquee_item {
        align-items: center;
        display: flex;
        justify-content: space-between;
        padding-right: unset;
        width: 100%;
    }

    .widgets__wrapper .marquee__container .marquee-item {
        -moz-column-gap: 3rem;
        column-gap: 3rem;
        padding-left: 3rem;
    }

    .marquee__container .marquee_item:nth-child(2) {
        display: none;
    }

    .marquee__container .marquee_item li img {
        -o-object-fit: contain !important;
        object-fit: contain !important;
    }
    .widget__wrapper {
        border-radius: .6rem;
        width: 25rem;
    }
}

.marquee_slider {
    position: relative;
    width: 100%;
    height: 100%;
    /* background-color: red; */
}

.splide__slide {
    width: 100%;
    height: 100vh;
    /* background-color: red; */
}

.marquee-slider {
    width: 100%;
    overflow: hidden;
    padding: 2rem 0;
}

.marquee-slider img {
    display: block;
    height: 50px;
    object-fit: contain;
    opacity: 0.9;
    transition: opacity 0.3s ease;
    width: 100%;
    height: 100%;
}

.marquee-slider img:hover {
    opacity: 1;
}

/* auto marquee slider splide */